.about__wrapper {
  padding: 0 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 auto;
    max-width: $desktop-page-width;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.about__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $text-title;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
    font-size: 53px;
    line-height: 57px;
  }
}

.about__list {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    row-gap: 30px;
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2/3;
  }
}

.about__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $text-title;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about__item {
  position: relative;
  display: flex;
  align-items: end;
  min-height: 124px;
}

svg.about__icon {
  fill: $main-green;
  position: absolute;
  top: 22px;
  left: -6px;
}
