.about {
  padding: 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 30px 50px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
}

.about__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $text-title;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
  }
}

.about__list {
  display: grid;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2;
  }
}

.about__text {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: $text-title;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.about__item {
  display: flex;
  align-items: end;
  min-height: 120px;
}
