.contacts {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  margin-bottom: 40px;
  padding: 30px 30px 0 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-areas:
      ". c-title  c-map"
      ". c-address c-map"
      ". c-feedback c-map";
  }
}

.contacts__title {
  margin: 0;
  padding: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $text-title;
  text-align: left;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
    position: relative;
    min-height: 80px;
    display: flex;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    grid-area: c-title;
    font-size: 53px;
    line-height: 57px;
  }

  &::after {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      right: 0;
      top: 50%;
      width: 47px;
      height: 80px;
      transform: translate(0, -50%);
      background: url("/img/contact-flag.svg") no-repeat right;
    }

    @media (min-width: $desktop-width) {
      left: -25%;
      //      -25% это середина соседнего грид столбца 1fr
      transform: translate(-50%, -50%);
    }
  }
}

.contacts__address {
  display: grid;
  grid-template-columns: max-content max-content;
  column-gap: 35px;
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(4, max-content);
    align-items: start;
  }

  @media (min-width: $desktop-width) {
    grid-area: c-address;
    grid-template-columns: max-content max-content;
  }
}

.contacts__text {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__email {
  display: inline-block;
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  color: $text-content;
  text-decoration: none;
  border-bottom: 1px solid $main-green;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.contacts__map {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -30px;
  margin-right: -30px;

  @media (min-width: $tablet-width) {
    margin-left: -50px;
    margin-right: -50px;
  }

  @media (min-width: $desktop-width) {
    grid-area: c-map;
    margin: 0;
  }
}

.contacts__feedback {
  width: calc(100% - 60px);
  justify-self: center;

  @media (min-width: $tablet-width) {
    width: auto;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    grid-area: c-feedback;
    min-height: 50px;
    align-self: end;
    justify-self: start;
  }
}
