.featured {
  position: relative;
}

.featured__wrapper {
  position: relative;
  padding: 0 30px;
  display: grid;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-areas:
      "f-title f-title f-subtitle"
      "f-text f-image f-image"
      "f-description f-image f-image"
      "f-price f-image f-image"
      "f-button f-image f-image";
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    max-width: $desktop-page-width;
    padding: 0;
    grid-template-columns: 1fr 2fr 1fr 2fr;
    grid-template-rows: max-content max-content max-content 1fr max-content;
    row-gap: 33px;
    grid-template-areas:
      "f-subtitle f-title f-image f-image"
      ". f-text f-image f-image"
      ". f-description f-image f-image"
      ". f-price f-image f-image"
      ". f-button f-image f-image";
  }

  &::after {
    content: "";
    position: absolute;
    height: 6px;
    background: url("./../img/zigzag-line-desktop.svg") repeat-x;
    bottom: -42px;
    left: 0;
    right: 0;

    @media (min-width: $tablet-width) {
      bottom: -68px;
      height: 17px;
      background: url("./../img/zigzag-line-desktop2.svg") repeat-x -21px;
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      bottom: -96px;
    }
  }
}

.featured__title {
  margin: 0 0 4px 0;
  padding: 0;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $text-title;
  text-align: left;
  letter-spacing: -1.25px;

  @media (min-width: $tablet-width) {
    margin: 0 0 38px 0;
    grid-area: f-title;
    font-size: 43px;
    line-height: 50px;
    align-self: center;
    letter-spacing: 0;
  }

  @media (min-width: $desktop-width) {
    grid-column: 2 / 5;
    z-index: 3;
    font-size: 53px;
    line-height: 57px;
    align-self: flex-end;
    margin: 0;
    padding: 60px 0 0 0;
  }
}

.featured__subtitle {
  font-size: 17px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin: 0 0 17px 0;
  color: $main-green;

  @media (min-width: $tablet-width) {
    margin: 0;
    grid-area: f-subtitle;
    text-align: center;
    max-width: 120px;
    justify-self: end;
    padding: 4px 3px 0 0;
    line-height: 19px;
  }

  @media (min-width: $desktop-width) {
    justify-self: center;
    margin: 0;
    align-self: flex-end;
    padding: 0 12px 14px 0;
  }
}

.featured__text {
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 18px 0;

  @media (min-width: $tablet-width) {
    margin: 0 40px 9px 0;
    grid-area: f-text;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 0 0 0;
    padding: 3px 50px 0 0;
  }
}

.featured__picture {
  @media (min-width: $tablet-width) {
    grid-area: f-image;
    width: 100%;
    background-size: cover;
    margin-top: 12px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.featured__image {
  margin: 0 0 26px 0;
  display: block;
  height: auto;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin: 0;
    height: 100%;
  }
}

.featured__description {
  margin: 0 0 28px 0;
  line-height: 20px;
  display: grid;
  grid-template-columns: max-content 1fr;

  @media (min-width: $tablet-width) {
    margin: 0 40px 0 0;
    grid-area: f-description;
    grid-template-rows: repeat(auto-fill, 40px);
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 17px 0 0 0;
  }
}

.featured__definition,
.featured__term {
  line-height: 40px;
  border-bottom: 1px solid $border-color;
  margin: 0;

  @media (min-width: $tablet-width) {
    line-height: 40px;
  }
}

.featured__definition {
  padding-left: 30px;
}

.featured__price {
  margin: 0 0 25px 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  justify-self: center;

  @media (min-width: $tablet-width) {
    margin: 0 46px 0 0;
    grid-area: f-price;
    font-size: 20px;
    line-height: 24px;
    align-self: flex-end;
    padding-bottom: 3px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 58px 0 0;
  }
}

.featured__button {
  @media (min-width: $tablet-width) {
    grid-area: f-button;
    width: auto;
    margin: 0 40px 0 0;
    align-self: flex-end;
  }

  @media (min-width: $desktop-width) {
    margin: 0 58px 0 0;
  }
}
