.main-header {
  position: relative;

  &::before {
    @media (min-width: $tablet-width) {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      bottom: -12px;
      background: url("./../img/zigzag-fill-desktop.svg") repeat-x;
      background-size: contain;
      height: 24px;
      z-index: 3;
    }

    @media (min-width: $desktop-width) {
      height: 34px;
      bottom: -17px;
    }
  }
}

.main-header__title {
  display: block;
  padding-top: 72px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  color: $text-title;
  background: url("./../img/main-image-mobile.jpg") no-repeat center;
  background-size: cover;
  margin: 0;
  height: 335px;
  text-align: center;
  box-sizing: border-box;

  @media (min-resolution: 2dppx) {
    background-image: url("./../img/main-image-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background-image: url("./../img/main-image-desktop.jpg");
    padding-top: 155px;
    font-size: 43px;
    line-height: 50px;
    height: 625px;

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/main-image-desktop@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 157px;
    font-size: 53px;
    line-height: 57px;
    height: 746px;
  }

  &--break {
    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.main-header__wrapper {
  display: flex;
  flex-direction: column;
  margin: -53px auto 0;
  align-items: flex-end;

  @media (min-width: $tablet-width) {
    position: absolute;
    flex-direction: row;
    margin: 0 50px;
    left: 0;
    right: 0;
    bottom: 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 auto;
    max-width: $desktop-page-width;
  }
}

.main-header__item {
  background-color: $main-green;
  padding: 0 30px;
  box-sizing: border-box;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
  }

  &:hover,
  &:focus-within {
    @media (min-width: $tablet-width) {
      height: 135px;
    }
  }
}

.main-header__item:nth-child(even) {
  background-color: $secondary-green;
}

.main-header__link {
  display: flex;
  position: relative;
  min-height: 103px;
  justify-content: space-between;
  color: $main-background;
  text-decoration: none;
  padding-top: 24px;
  box-sizing: border-box;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
  outline: none;

  @media (min-width: $tablet-width) {
    min-height: 130px;
  }

  &:hover {
    @media (min-width: $tablet-width) {
      height: 135px;
    }
  }

  &:hover .main-header__icon {
    opacity: 0.7;
  }

  &:active .main-header__icon {
    opacity: 0.3;
  }
}

.main-header__icon {
  position: absolute;

  fill: $dark-green;
  opacity: 0.5;

  &--interior {
    top: 23px;
    right: 6px;
  }

  &--toy {
    top: 21px;
    right: -3px;
  }
}
