.review__wrapper {
  position: relative;
  padding: 0 30px;
  display: grid;
  row-gap: 30px;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding: 82px 50px 47px;
    row-gap: 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "r-title r-title . r-new"
      "r-text r-text r-text r-text"
      "r-author r-author . r-controls";
    background: url("./../img/review-background-tablet.png") left no-repeat;

    @media (min-resolution: 2dppx) {
      background-image: url("./../img/review-background-tablet@2x.jpg");
      background-size: 350px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 78px 0 96px;
    margin: 0 auto;
    max-width: $desktop-page-width;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas:
      ". r-title r-title . . r-new"
      ". r-text r-text r-text r-text r-text"
      ". r-author r-author . . r-controls";
  }

  &::after {
    content: "";
    position: absolute;
    height: 6px;
    background: url("./../img/zigzag-line-desktop.svg") repeat-x;
    bottom: -51px;
    left: 0;
    right: 0;

    @media (min-width: $tablet-width) {
      bottom: -85px;
      height: 17px;
      background-size: contain;
    }

    @media (min-width: $desktop-width) {
      height: 23px;
      bottom: -90px;
    }
  }
}

.review__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $text-title;

  @media (min-width: $tablet-width) {
    grid-area: r-title;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.review__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    grid-area: r-text;
    font-size: 17px;
  }
}

.review__author {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  color: $text-title;

  @media (min-width: $tablet-width) {
    grid-area: r-author;
  }
}

.review__author-name {
  margin: 0;
  font-weight: 700;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    grid-area: r-author;
    font-weight: 700;
  }
}

.review__author-email {
  margin: 0;
  font-weight: 400;
}

.review__controls {
  display: flex;

  @media (min-width: $tablet-width) {
    grid-area: r-controls;
  }
}

.review__previous,
.review__next {
  border: 1px solid $border-color;
}

.review__create-new {
  @media (min-width: $tablet-width) {
    grid-area: r-new;
  }
}

.review__button {
  &:focus {
    border: 1px solid $main-green;
  }

  &:hover {
    background-color: $main-background;
    border-color: $border-color;
  }

  &:hover .review__icon {
    opacity: 0.6;
  }

  &:active .review__icon {
    opacity: 0.3;
  }
}

.review__next {
  border-left: none;

  &:hover {
    border-left: none;
  }

  &:active {
    border-left: none;
  }
}
