.review {
  position: relative;
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 30px;
  box-sizing: border-box;

  &::after {
    content: "";
    position: absolute;
    height: 6px;
    background-image: url("/img/zigzag-line-desktop.svg");
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.review__title {
  margin: 0;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
  color: $text-title;
}

.review__text {
  margin: 0;
  font-size: 15px;
  line-height: 30px;
}

.review__author {
  font-size: 17px;
  line-height: 24px;

  &-name {
    margin: 0;
    font-weight: 700;
    color: $text-title;
  }

  &-email {
    margin: 0;
  }
}

.review__controls {
  display: flex;
}

.review__previous,
.review__next {
  border: 1px solid $border-color;
}

.review__next {
  border-left: none;
}
