.modal__container {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);

  &--close {
    display: none;
  }
}

.modal {
  z-index: 21;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  width: 100%;
  padding: 30px 30px 46px 30px;
  border: 1px solid $border-color;
  background-color: $main-background;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 5px 10px rgba(0, 1, 1, 0.25);

  @media (min-width: $tablet-width) {
    max-width: 566px;
    padding: 37px 105px 46px 105px;
  }
}

.modal__form {
  width: 100%;
}

.modal__title {
  color: $text-title;
  text-transform: uppercase;
  font-size: 25px;
  line-height: 30px;
  margin: 0 0 15px 0;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    &--break {
      display: none;
    }
    font-size: 30px;
    line-height: 57px;
    margin: 0 0 11px 0;
  }
}

.modal__content {
  margin: 0 0 22px 0;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
  }
}

.modal__list {
  list-style-type: none;
  padding: 0;
  margin: 0 0 31px 0;
  display: flex;
  gap: 7px;
  justify-content: space-between;
}

.modal__item {
  flex-grow: 1;
}

.modal__label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 52px;
  box-sizing: border-box;
  border: 2px solid fade-out($text-title, 0.9);
  font-size: 17px;
  font-weight: 700;

  &:hover,
  &:focus {
    border-color: fade-out($text-title, 0.7);
  }

  &:active {
    border-color: $main-green;
  }
}

.modal__button {
  background-color: $main-green;
  color: $main-background;
  border-color: $main-green;
}

.modal__input:checked + .modal__label {
  border-color: $main-green;
}
