.main {
  position: relative;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    position: relative;
    z-index: 2;
    top: -$header-second-string;
  }
}

.main__title {
  margin: 0;
  background-color: $border-color;
  font-size: 27px;
  line-height: 30px;
  padding: 75px 0 75px 0;
  color: $text-title;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    font-size: 53px;
    line-height: 57px;
  }
}

.main__main-header {
  margin-bottom: 31px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 66px;
  }
}

.main__featured {
  margin-bottom: 73px;

  @media (min-width: $tablet-width) {
    margin-bottom: 125px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 164px;
  }
}

.main__about {
  margin-bottom: 58px;

  @media (min-width: $tablet-width) {
    margin-bottom: 83px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 90px;
  }
}

.main__review {
  margin-bottom: 89px;

  @media (min-width: $tablet-width) {
    margin-bottom: 131px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 161px;
  }
}

.main__contacts {
  margin-bottom: 39px;

  @media (min-width: $tablet-width) {
    margin-bottom: 11px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 59px;
  }
}
