.control {
  display: flex;
  position: relative;
  align-self: center;
  min-height: 38px;

  @media (min-width: $tablet-width) {
    min-height: 50px;
  }
}

.control__label {
  align-self: center;
  margin-left: 60px;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $text-title;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-left: 80px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 81px;
    padding-top: 3px;
  }
}

.control__mark {
  position: absolute;
  top: 50%;
  left: 1px;
  box-sizing: border-box;
  width: 38px;
  height: 38px;
  border: 2px solid $text-content;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    width: 52px;
    height: 52px;
  }
}

.control__input {
  &[type="radio"] + .control__mark {
    border-radius: 50%;
    width: 38px;
    height: 38px;

    @media (min-width: $tablet-width) {
      width: 50px;
      height: 50px;
    }
  }

  &[type="checkbox"]:checked + .control__mark::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 24px;
    height: 17px;
    background-image: url("./../img/control-check.svg");
    content: "";
    transform: translate(-50%, -50%);

    @media (min-width: $tablet-width) {
      width: 32px;
      height: 22px;
      background-size: contain;
    }
  }

  &:disabled + .control__mark,
  &:disabled:focus + .control__mark,
  &:disabled:hover + .control__mark {
    border-color: $footer-border;
  }

  &:disabled ~ .control__label {
    color: $footer-border;
  }

  &[type="radio"]:checked + .control__mark::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: $main-green;
    content: "";
    transform: translate(-50%, -50%);
  }

  &[type="radio"]:disabled + .control__mark::before {
    display: none;
    border-color: $border-color;
  }

  &:hover + .control__mark,
  &:focus + .control__mark {
    border-color: $main-green;
  }

  &:active + .control__mark {
    border-color: fade-out($text-title, 0.7);
  }

  &:hover + .control__mark,
  &:focus + .control__mark {
    border-color: $main-green;
  }
}
