.filter-contact__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-contact__input {
  background-color: inherit;
  margin: 0;
  padding: 0;
  display: block;
  font-size: 17px;
  line-height: 50px;
  outline: none;
  border: none;
  border-bottom: 2px solid $text-title;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.filter-contact__title {
  margin: 0;
}
