.filter-additional {
  gap: 22px;

  @media (min-width: $tablet-width) {
    gap: 0;
  }
}

.filter-additional__label {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.filter-additional__input {
  font-family: "Opensans", sans-serif;
  min-height: 104px;
  padding: 17px;
  border: 2px solid $text-content;
  font-size: 17px;
  line-height: 18px;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }

  &:hover,
  &:focus {
    border-color: $main-green;
  }

  &:active {
    border-color: $main-green;
    color: $text-title;
  }
}
