.filter-id__label {
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
  }
}

.filter-id__text {
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  color: $text-title;

  @media (min-width: $tablet-width) {
    font-size: 19px;
    margin-right: 24px;
    justify-self: center;
    align-self: center;
  }
}

.filter-id__input {
  font-size: 17px;
  line-height: 50px;
  outline: none;
  border: none;
  border-bottom: 2px solid $text-title;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    font-size: 19px;
  }

  &:hover,
  &:focus {
    border-color: $main-green;
  }

  &:active {
    border-color: $main-green;
    color: $text-title;
  }
}
