.form-order {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 25px;

  @media (min-width: $tablet-width) {
    row-gap: 0;
  }
}

.form-order__legend-wrapper {
  width: max-content;
}

.form-order__wrapper {
  position: relative;
  display: grid;
  border: none;
  margin: 0;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 3fr;
    padding: 50px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 4fr 1fr;
    max-width: $desktop-page-width;
    padding: 50px 0;
    margin: 0 auto;
  }

  &::before {
    position: absolute;
    content: "";
    left: 60px;
    right: 30px;
    top: 16px;
    height: 1px;
    background-color: $main-green;
    z-index: 1;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--tel {
    @media (min-width: $tablet-width) {
      padding-bottom: 12px;
    }
  }

  &--email {
    @media (min-width: $tablet-width) {
      padding-top: 12px;
    }
  }
}

.form-order__filter-group {

  margin: 0;
  padding: 0;
  border: none;

  &--grey {
    @media (min-width: $tablet-width) {
      background-color: $border-color;
    }
  }
}

.form-order__filter-title {
  z-index: 2;
  background-color: $main-background;
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: 17px;
  text-transform: uppercase;
  font-weight: 700;
  color: $main-green;
  line-height: 30px;

  @media (min-width: $tablet-width) {
    background-color: inherit;
    margin: 9px 0 0 0;
  }

  &--radio {
    margin-bottom: 25px;
    padding-right: 17px;
  }

  &--checkbox {
    margin-bottom: 18px;
    padding-right: 25px;
  }

  &--tel,
  &--email {
    margin: 0;
    padding-right: 20px;

    @media (min-width: $tablet-width) {
      margin: 9px 0 0 0;
    }
  }

  &--name {
    margin-bottom: 23px;
    padding-right: 18px;
  }

  &--add {
    margin-bottom: 17px;
    padding-right: 18px;

    @media (min-width: $tablet-width) {
      margin: 12px 0 0 0;
    }
  }
}

.form-order__filter-list {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style-type: none;

  @media (min-width: $tablet-width) {
    gap: 25px;
  }

  &--checkbox {
    gap: 23px;

    @media (min-width: $tablet-width) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      row-gap: 27px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &--name {
    gap: 22px;

    @media (min-width: $tablet-width) {
      gap: 24px;
    }
  }
}

.form-order__footer-wrapper {
  display: grid;
  gap: 30px;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    padding: 0 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "f-button f-info";
  }

  @media (min-width: $desktop-width) {
    min-width: $desktop-page-width;
    padding: 0;
    margin: 0 auto;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    grid-template-areas: ". f-button f-info .";
    gap: 0;
  }
}

.form-order__info {
  margin: -9px 0 0 0;
  font-size: 14px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    grid-area: f-info;
    justify-self: right;
    align-self: center;
    font-size: 17px;
    line-height: 30px;
    padding-top: 12px;
  }
}

.form-order__submit {
  @media (min-width: $tablet-width) {
    grid-area: f-button;
    width: auto;
    justify-self: left;
    padding: 0 30px;
    margin-top: 3px;
  }
}
