.catalog {
  display: grid;
  padding: 30px;
  row-gap: 30px;

  @media (min-width: $tablet-width) {
    row-gap: 54px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(3, 1fr);
    gap: 52px;
    margin: 57px 0;
    padding: 0 50px;
  }
}
