.product-card {
  width: 100%;
  display: grid;
  outline: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr max-content;
    grid-template-areas:
      "pc-image pc-info"
      "pc-image pc-price";
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr max-content 72px;
    grid-template-areas:
      "pc-image"
      "pc-info"
      "pc-price";
  }

  &:hover,
  &:focus-within {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.product-card__link {
  display: block;
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-width) {
    grid-area: pc-image;
  }
}

.product-card__image {
  display: block;
  align-self: center;
  margin: 0;
  background-size: cover;
  width: 100%;
  height: auto;
  outline: none;
}

.product-card__info {
  padding: 27px 28px 18px 28px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    left: 28px;
    right: 28px;
    bottom: 0;
    height: 1px;
    background-color: $border-color;
  }

  @media (min-width: $tablet-width) {
    grid-area: pc-info;
    padding: 28px 15px 18px 33px;
  }

  @media (min-width: $desktop-width) {
    padding: 30px 28px 0;
    align-self: flex-start;
    min-height: 124px;
    box-sizing: border-box;
  }
}

.product-card__title {
  font-size: 17px;
  line-height: 24px;
  margin: 0;
  color: $text-title;
  font-weight: 700;
  text-decoration: none;
  cursor: pointer;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.product-card__text {
  font-size: 13px;
  line-height: 30px;
  margin: 5px 0 0 0;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }
}

.product-card__price {
  display: flex;
  padding: 22px 28px 26px 28px;
  font-size: 15px;
  line-height: 24px;
  justify-content: space-between;
  align-items: center;
  color: $text-title;
  font-weight: 700;

  @media (min-width: $tablet-width) {
    grid-area: pc-price;
    font-size: 17px;
    padding: 22px 32px 26px 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 28px 32px 26px 27px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:hover .product-card__icon {
    fill: $main-green;
    opacity: 1;
  }
}

.product-card__icon {
  opacity: 0.2;

  &:active {
    fill: $main-green;
    opacity: 0.3;
  }
}

.product-card__button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0 0 2px 0;
}
