.video__wrapper {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 90px 1fr;
  grid-template-areas:
    "video__icon video__title"
    "video__image video__image"
    "video__content video__content"
    "video__order video__order";
  border: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    grid-template-columns: 106px 1fr;
    grid-template-areas:
      "video__image video__image"
      "video__icon video__title"
      "video__content video__content"
      "video__order video__order";
    row-gap: 25px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-page-width;
    margin: 0 auto;
    //    "0" в среднем столбце чтобы выровнятся по сетке с каталогом сверху
    grid-template-columns: 2fr 0 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
    column-gap: 52px;
    row-gap: 29px;
    grid-template-areas:
      "video__image video__image video__icon"
      "video__image video__image video__title"
      "video__image video__image video__content"
      "video__image video__image video__order";
  }

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }
}

.video__title {
  grid-area: video__title;
  margin: 0;
  padding: 21px 0 26px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $text-title;
  justify-self: center;

  @media (min-width: $tablet-width) {
    padding: 0;
    font-size: 20px;
    justify-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    padding-left: 27px;
    width: 180px;
    align-self: start;
    justify-self: start;
  }
}

.video__icon {
  grid-area: video__icon;
  display: block;
  fill: $main-green;
  align-self: center;
  justify-self: center;

  @media (min-width: $tablet-width) {
    justify-self: left;
    padding-left: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 47px 0 0 27px;
  }
}

.video__image {
  display: block;
  background-size: cover;
  width: 100%;
  height: auto;
}

.video-image-wrapper {
  width: 100%;
  grid-area: video__image;
  position: relative;
  justify-self: center;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    content: "";
    width: 101px;
    height: 77px;
    background-image: url("./../img/video-play.svg");
    transform: translate(-50%, -50%);
  }

  &:hover::before,
  &:focus::before {
    transform: translate(-50%, -50%) scale(1.2);
  }

  &:active::before {
    transform: translate(-50%, -50%) scale(0.8);
    opacity: 0.6;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
  }
}

.video__content {
  grid-area: video__content;
  margin: 0;
  padding: 35px 32px 41px;
  font-size: 13px;
  line-height: 24px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    padding: 0 40px;
    font-size: 15px;
    line-height: 30px;
    justify-self: start;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px 0 27px;
  }
}

.video__order {
  grid-area: video__order;
  margin: 0 34px 34px 34px;
  width: auto;

  @media (min-width: $tablet-width) {
    margin: 0 42px 46px 42px;
  }

  @media (min-width: $desktop-width) {
    justify-self: flex-start;
    align-self: flex-start;
    width: calc(100% - 84px);
    margin: 5px 0 0 27px;
  }
}
