.video {
  padding: 30px 0;
  margin: 0 30px 60px;
  display: grid;
  grid-template-columns: 30px 60px 1fr 30px;
  grid-template-areas:
    ". video__icon video__title ."
    " video__image video__image video__image video__image"
    ". video__content video__content ."
    ". video__order video__order .";
  row-gap: 15px;
  border: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    grid-template-columns: 40px 60px 1fr 40px;
    grid-template-areas:
      " video__image video__image video__image video__image"
      ". video__icon video__title ."
      ". video__content video__content ."
      ". video__order video__order .";
    row-gap: 40px;
    padding: 0 0 42px 0;
    margin-bottom: 15px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 50px 60px;
    padding: 0;
    //    "0" в среднем столбце чтобы выровнятся по сетке с каталогом сверху
    grid-template-columns: 2fr 0 1fr;
    grid-template-rows: min-content min-content min-content 1fr;
    column-gap: 52px;
    row-gap: 27px;
    grid-template-areas:
      "video__image video__image video__icon"
      "video__image video__image video__title"
      "video__image video__image video__content"
      "video__image video__image video__order";
  }
}

.video__title {
  grid-area: video__title;
  margin: 0;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: $text-title;
  justify-self: center;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 180px;
    align-self: start;
    justify-self: start;
  }
}

.video__icon {
  grid-area: video__icon;
  display: block;
  fill: $main-green;
  align-self: center;
  @media (min-width: $desktop-width) {
    padding-top: 47px;
  }

}

.video__image {
  grid-area: video__image;
  display: block;
  justify-self: center;
  background-size: cover;
  width: 100%;
  height: auto;
}

.video__content {
  grid-area: video__content;
  margin: 0;
  font-size: 13px;
  line-height: 24px;
  justify-self: center;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
    justify-self: start;
  }
}

.video__order {
  grid-area: video__order;
  @media (min-width: $desktop-width) {
    justify-self: center;
    align-self: center;
    width: auto;
    padding: 0 30px;
  }

}
