@import "variables";

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0 auto;
  font-family: "Opensans", sans-serif;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: $text-content;
}

img {
  max-width: 100%;
  object-fit: contain;
}
