//Основные цвета

$main-green: #63d1bb;
$secondary-green: #56c3b2;
$dark-green: #149080;
$main-background: #ffffff;
$secondary-background: #f1f1f1;
$border-color: #ececec;
$text-content: #444444;
$text-title: #000000;

//Медиа выражения

$media-tablet: 768px;
$media-desktop: 1150px;

