.page-footer {
  background-color: $border-color;
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    padding: 60px 50px;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 55px 0 60px;
    margin: 0 auto;
    max-width: $desktop-page-width;
  }

  //  полоса между разделами футера
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    height: 1px;
    background-color: $footer-border;
    left: 30px;
    right: 30px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.page-footer__logo {
  display: none;
  outline: none;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;

    &:focus .page-footer__icon {
      fill: $main-green;
    }

    &:hover .page-footer__icon {
      fill: $hover-green;
    }

    &:active .page-footer__icon {
      opacity: 0.3;
    }
  }
}

.page-footer__copyright {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 27px;
  padding: 22px 0 22px 0;
  flex-wrap: wrap;
  outline: none;

  @media (min-width: $tablet-width) {
    padding: 0;
    justify-self: center;
    align-self: center;
  }

  &:focus .page-footer__copyright-icon {
    fill: $hover-green;
  }
}

.page-footer__copyright-text {
  margin: 0;
  font-size: 19px;
  line-height: 24px;
  color: $text-title;
  font-weight: 700;
}

.page-footer__copyright-icon {
  fill: $main-green;

  &:hover {
    fill: $hover-green;
  }

  &:active {
    opacity: 0.3;
  }
}
