.social__list {
  margin: 0;
  padding: 19px 0 20px 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  outline: none;

  &:focus .social__icon {
    fill: $main-green;
  }

  &:hover .social__icon {
    fill: $hover-green;
  }

  &:active .social__icon {
    opacity: 0.3;
  }
}
