.page-header {
  position: relative;
  min-height: $header-nav;
  background-color: $main-background;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: $border-color;

    @media (min-width: $tablet-width) {
      bottom: 46px;
    }
  }
}

.page-header__wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
  display: grid;
  grid-template-columns: 1fr;
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    position: relative;
    padding: 0 50px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr $header-second-string;
    grid-auto-flow: column;
    grid-template-areas:
      "header-logo user-nav"
      "site-nav delivery-info";
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-page-width;
    padding: 0;
    margin: 0 auto;
    grid-template-columns: 1fr 150px 1fr;
    grid-template-rows: 1fr $header-second-string;
    grid-template-areas:
      "site-nav header-logo user-nav"
      "sale-info . delivery-info";
  }
}

.page-header__toggle {
  position: absolute;
  right: 30px;
  top: 40px;
  transform: translateY(-50%);
  border: none;
  width: 40px;
  height: 40px;

  &--open {
    background: url("./../img/header-menu-open.svg") $main-background no-repeat 50% 50%;
  }

  &--closed {
    background: url("./../img/header-menu-closed.svg") $main-background no-repeat 50% 50%;
  }

  &--nojs {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.page-header__nav {
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;

  @media (max-width: $mobile-width-only) {
    &--closed .site-nav__list {
      display: none;
    }

    &--closed .user-nav__list {
      display: none;
    }
  }

  &--open.user-nav {
    position: relative;
    height: auto;
    z-index: 10;
    background-color: $main-background;
    width: 100%;
    padding: 0 30px;
  }

  &--open.site-nav {
    position: relative;
    height: auto;
    z-index: 10;
    background-color: $main-background;
    width: 100%;
    padding: 0 30px;
  }

  &--nojs {
    position: relative;
    display: block;
  }
}

.page-header__logo {
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;

  @media (min-width: $tablet-width) {
    min-height: 88px;
    grid-area: header-logo;
    align-self: center;
    justify-self: start;
  }

  @media (min-width: $desktop-width) {
    justify-self: center;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.page-header__image {
  @media (min-width: $tablet-width) {
    display: block;
    width: 113px;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    width: 149px;
  }
}

.page-header__picture {
  display: flex;
  align-items: center;
}

.page-header__delivery-info {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    grid-area: delivery-info;
    align-self: center;
    justify-self: end;
    z-index: 3;
  }
}

.page-header__sale-list {
  display: none;

  @media (min-width: $desktop-width) {
    z-index: 3;
    grid-area: sale-info;
    display: flex;
    align-self: center;
    justify-self: start;
    list-style-type: none;
    padding: 0;
    margin: 0;
    gap: 45px;
  }
}

.page-header__sale-link {
  @media (min-width: $desktop-width) {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    color: $text-title;
    text-decoration: none;
    outline: none;
  }

  &:focus {
    color: $main-green;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
