.site-nav {
  @media (min-width: $tablet-width) {
    grid-area: site-nav;
    align-self: center;
    justify-self: flex-start;
  }

  @media (min-width: $desktop-width) {
    grid-area: site-nav;
  }
}

.site-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.site-nav__item {
  position: relative;
  min-height: 79px;
  display: flex;
  justify-content: flex-start;
  margin-left: 76px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    min-height: 46px;
    padding: 21px 0 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0 35px 0 0;
  }

  &:nth-child(even) {
    @media (min-width: $desktop-width) {
      padding-left: 35px;
      border-left: 1px solid $border-color;
    }
  }

  //  линии в мобильной версии
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -80px;
    right: 0;
    height: 1px;
    background-color: $border-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.site-nav__link {
  display: block;
  text-decoration: none;
  color: $text-title;
  outline: none;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 24px;
    font-weight: 700;
    margin-right: 37px;
    z-index: 3;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    margin-right: 0;
  }

  &:focus {
    color: $main-green;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
