.user-nav {
  @media (min-width: $tablet-width) {
    grid-area: user-nav;
    align-self: center;
    justify-self: end;
  }
}

.user-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.user-nav__item {
  position: relative;
  min-height: 79px;
  display: flex;
  justify-content: flex-start;
  margin-left: 76px;
  align-items: center;

  @media (min-width: $tablet-width) {
    min-height: 88px;
    margin-left: 0;
    border-left: 1px solid $border-color;
  }

  //  линии в мобильной версии
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -80px;
    right: 0;
    height: 1px;
    background-color: $border-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.user-nav__icon {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  left: -35px;
  top: 50%;
  opacity: 0.2;

  @media (min-width: $tablet-width) {
    left: 40px;
  }
}

.user-nav__link {
  display: block;
  text-decoration: none;
  color: $text-title;
  cursor: pointer;
  position: relative;
  outline: none;

  @media (min-width: $tablet-width) {
    padding-left: 82px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 3px;
  }

  &--search {
    @media (min-width: $tablet-width) {
      width: 80px;
      box-sizing: border-box;
    }
  }

  &:focus {
    color: $main-green;
  }

  &:hover {
    color: fade-out($text-title, 0.4);
  }

  &:active {
    color: fade-out($text-title, 0.7);
  }

  &:focus .user-nav__icon {
    opacity: 1;
    fill: $main-green;
  }

  &:hover .user-nav__icon {
    opacity: 1;
    fill: $main-green;
  }

  &:active .user-nav__icon {
    opacity: 0.3;
    fill: $main-green;
  }
}

.user-nav__mobile-text {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
