.user-nav {
  @media (min-width: $tablet-width) {
    grid-area: user-nav;
    align-self: center;
    justify-self: end;
  }
}

.user-nav__list {
  list-style-type: none;
  padding: 0;
  margin: 0;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.user-nav__item {
  position: relative;
  min-height: 80px;
  display: flex;
  justify-content: start;
  margin-left: 80px;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    border-left: 1px solid $border-color;
  }

  //  линии в мобильной версии
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: -110px;
    right: -30px;
    height: 1px;
    background-color: $border-color;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }
}

.user-nav__link::before {
  content: "";
  position: absolute;
  transform: translate(-50%, -50%);
  width: 30px;
  height: 30px;
  border: 1px solid $border-color;
  left: -40px;
  top: 50%;

  @media (min-width: $tablet-width) {
    left: 40px;
  }
}

.user-nav__link {
  display: block;
  text-decoration: none;
  color: $text-title;
  cursor: pointer;
  position: relative;
  outline: none;

  @media (min-width: $tablet-width) {
    padding-left: 75px;
  }

  &--search {
    @media (min-width: $tablet-width) {
      width: 80px;
      box-sizing: border-box;
    }
  }

  &:focus {
    color: $main-green;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.user-nav__mobile-text {
  @media (min-width: $tablet-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}
